<p-toast></p-toast>
<p-card>
   upload csv data with a standard first row of header

  <p> "Code","Name","Category","Quantity" </p>

  <p>"f230fh0g3","Bamboo Watch","Accessories","24" </p>
  ...
</p-card>
<div class="card">
    <p-fileUpload name="upload" [customUpload]=true (uploadHandler)="onUpload($event)"
             accept="text/csv,application/json,application/xml" [maxFileSize]=maxFileSize>
    </p-fileUpload>
    </div>


<p-table [value]="rows" [columns]="cols" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" sortMode="single"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-sm p-datatable-responsive-table">
<ng-template pTemplate="header" let-columns>
        <tr>
            <th [pSortableColumn]="col.field" *ngFor="let col of columns">{{col.header}}<p-sortIcon [field]="col.field" ></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<!--
<p-card>

  <div *ngFor="let col of cols"  class="p-field-checkbox p-m-2" style=" display: inline !important;">
    <p-checkbox [name]="chkboxGrp" [value]="col.field"  [(ngModel)]="selectedValues" (onChange)="checkEvent($event)"></p-checkbox>
     <label for="col.header">{{col.header}}</label>
  </div>

</p-card> -->

<p-card>
<p-multiSelect [options]="cols" [panelStyle]="{minWidth:'15em'}" [style]="{minWidth:'15em'}" [(ngModel)]="selectedValues" optionLabel="header" optionValue="field" display="chip" (onChange)="checkEvent($event)"></p-multiSelect>
{{cols.length}} Fields Found
</p-card>
<p-card>
<button pButton type="button" label="Visualize Selected Columns" class="p-button-outlined"  (click)="showQuickViz()"></button>

    <div *ngFor="let chart of chartType" class="p-field-checkbox p-m-2" style="display: inline !important;">
  <p-radioButton name="radioGrp" [inputId]="chart.value" [value]="chart.value" [(ngModel)]="selectedValue" (onClick)="radioEvent($event)"></p-radioButton>
     <label [for]="chart.label">{{chart.label}}</label>
  </div>
</p-card>
