@media screen and (max-width: 40rem) {
  .p-datatable-responsive-table .p-datatable-tbody>tr>td .p-column-title {
    display: none;
  }

  .p-column-title {
    padding: .4rem;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4rem;
    font-weight: bold;
  }



  :last-child {
    border-bottom: 1px solid var(--surface-d);
  }

  .p-datatable-tbody>tr>td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    font-size: 0.3em;
    border: 0 none;
  }

  .p-datatable-thead>tr>th,
  .p-datatable-tfoot>tr>td {
    display: none !important;
  }
}


.radioGroup {
  margin-top: -10px;
}

.multi-select {
  width: 300px;
}
