<p-toast></p-toast>
<p-card>
   upload csv data with a standard first row of header

  <p> "Code","Name","Category","Quantity" </p>

  <p>"f230fh0g3","Bamboo Watch","Accessories","24" </p>
  ...
</p-card>
<div class="card">
    <p-fileUpload name="upload" [customUpload]=true (uploadHandler)="onUpload($event)"
             accept="text/csv,application/json,application/xml" [maxFileSize]=maxFileSize>
    </p-fileUpload>
    </div>


<p-table [value]="rows" [columns]="cols" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" sortMode="single"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-sm p-datatable-responsive-table">
<ng-template pTemplate="header" let-columns>
        <tr>
            <th [pSortableColumn]="col.field" *ngFor="let col of columns">{{col.header}}<p-sortIcon [field]="col.field" ></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-card class="p-p-1">

<div class="p-field-checkbox p-p-1" >
<p-checkbox name="groupname" [(ngModel)]="enableDs" (onChange)="enableDS($event)" [binary]="true"></p-checkbox>
 <label for="enableDs">Create DataSet</label>
</div>

<p-card>
<div  *ngIf="!enableDs" class="p-field-checkbox p-m-2" style=" display: inline !important;">
<p-multiSelect [options]="cols" [panelStyle]="{minWidth:'15em'}" [style]="{minWidth:'15em'}" [(ngModel)]="selectedValues" optionLabel="header" optionValue="field" display="chip" (onChange)="checkEvent($event)"></p-multiSelect>
{{cols.length}} Fields Found
</div>


<div *ngIf="enableDs">

<p-dropdown class="p-mr-2 p-mb-1" placeholder="select x-axis"  [options]="cols" [(ngModel)]="labelSelect" optionLabel="header" (onChange)="multiDataSetEvent($event)" [panelStyle]="{minWidth:'15em'}" [style]="{minWidth:'15em'}" ></p-dropdown>
<p-dropdown class="p-mr-2 p-mb-1" placeholder="select dataset"   [options]="cols" [(ngModel)]="valueSelect" optionLabel="field" (onChange)="multiDataSetEvent($event)" [panelStyle]="{minWidth:'15em'}" [style]="{minWidth:'15em'}" ></p-dropdown>
</div>


</p-card>
<p-card class="p-p-1">
<button pButton type="button"  label="Visualize Selected Columns" class=" p-mr-3 p-button-outlined"  (click)="showQuickViz()"></button>

    <div *ngFor="let chart of chartType" class="p-mr-3"  style="display: inline !important;">
  <p-radioButton class="p-mr-2 p-mb-2"  name="radioGrp" [inputId]="chart.value" [value]="chart.value" [(ngModel)]="selectedValue" (onClick)="radioEvent($event)"></p-radioButton>
     <label [for]="chart.label">{{chart.label}}</label>
  </div>
</p-card>
</p-card>